
.filter_container {
    position: relative;

    .button {
        padding: 11px 60px;
        background-color: rgba(0, 78, 58, 1);
        margin: 0 auto;
        margin-bottom: 20px;
        display: none;
        cursor: pointer;
        transition: 0.3s;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 11.9772px;
        line-height: 15px;
        color: #ffffff;
        border: 1px solid white;
        @media screen and (max-width: 1070px) {
            display: block;
        }
    }

    .button:hover {
        background-color: white;
        color: black;
    }

    .activeFilter {
        display: flex !important;
    }

    .filter {
        min-height: max-content;
        background-color: black;
        width: 279px;
        max-width: 279px;
        margin: 0;
        border: 1.32857px solid #ffffff;
        border-radius: 2.65714px;
        box-sizing: border-box;
        padding: 28px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 1070px) {
            width: 100%;
            max-width: 100%;
            position: absolute;
            z-index: 999;
            height: max-content;
            font-size: 25px;
            display: none;
        }

       

        &_title {
            width: 100%;
            margin: 0;
            border-bottom: 1.32857px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18.6px;
            line-height: 28px;
            color: #ffffff;
        }

        &_price {
            width: 100%;
            margin: 0;
            border-bottom: 1.32857px solid #ffffff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 40px;
            gap: 20px;

            & .price {
                padding: 20px 27px;
                margin: 0;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 18.6px;
                line-height: 28px;
                color: #ffffff;
            }

            & .inputs {
                display: flex;
                box-sizing: border-box;
                & .input {
                    background: rgba(255, 255, 255, 0.5);
                    border: 1.32857px solid #ffffff;
                    border-radius: 2.65714px;
                    max-width: 99px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    text-align: left;
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    color: #ffffff;
                    outline: none;
                    padding: 0 10px;
                    border: none;

                    &::placeholder {
                        color: rgb(218, 212, 212);
                    }
                }
            }

            &.inputs input[type="number"] {
                -moz-appearance: textfield;
                -webkit-appearance: textfield;
                appearance: textfield;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                display: none;
            }
        }

        & .listKiy {
            width: 100%;
            margin: 0;
            padding: 23px;
            box-sizing: border-box;
            border-bottom: 1px solid white;

            & label {
                margin: 0;
            }

            &_title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #ffffff;
                padding-bottom: 20px;
            }

            &_container {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin: 0;
                align-items: flex-start;

                &_item {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    gap: 10px;
                }
            }
        }

        & .composition {
            width: 100%;
            margin: 0;
            padding: 23px;
            box-sizing: border-box;
            border-bottom: 1px solid white;

            & label {
                margin: 0;
            }

            &_title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #ffffff;
                padding-bottom: 20px;
            }

            &_container {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin: 0;
                align-items: flex-start;

                &_item {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    gap: 10px;
                }
            }
        }

        & .workshop {
            width: 100%;
            margin: 0;
            padding: 23px;
            box-sizing: border-box;

            & label {
                margin: 0;
            }

            &_title {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #ffffff;
                padding-bottom: 20px;
            }

            &_container {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin: 0;
                align-items: flex-start;

                &_item {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    gap: 10px;
                }
            }
        }

        &_button {
            background-color: rgba(227, 220, 217, 1);
            padding: 15px 45px;
            margin: 0 auto;
            margin-top: 100px;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            transition: 0.3s;
            cursor: pointer;
            border: none;
        }

        &_button:hover {
            background-color: rgba(0, 78, 58, 1);
            color: white;
        }
    }
}


