.katalogKiy {
    max-width: 1190px;
    margin: 0;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;

    & .katalog_kiy_container {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        margin: 0;

        @media screen and (max-width: 1650px) {
            flex-wrap: wrap;
            gap: 0;
            justify-content: flex-start;
            margin: 0;
        }

        
        @media screen and (max-width: 640px) {
            flex: 0 0 90%;
            width: 100%;
            margin: 0 auto;
            justify-content: center;
         }


        &_link {
            padding: 15px 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border: 1px solid rgba(242, 242, 242, 1);
            text-decoration: none;
            box-sizing: border-box;
            max-width: 297px;
            margin: 0;

            @media screen and (max-width: 640px) {
               flex: 0 0 80%;
               width: 100%;
               max-width: 100%;
            }

            & p {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 19.8479px;
                line-height: 26px;
                text-align: center;
                color: #ffffff;
            }
        }
    }

    .card_container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
}

.loading {
    color: white;
    font-size: 30px;
    font-weight: 700;
}


