.katalogs {
    display: flex;
    gap: 122px;
    padding: 100px 0;
    margin: 0;
    justify-content: flex-start;
    color: white;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    @media screen and (max-width: 1070px) {
        flex-direction: column;
    }

    & .filter {
        margin: 0;
        box-sizing: border-box;
    }

    & .kiys {
        max-width: 1190px;
        margin: 0;
        box-sizing: border-box;
    }
}

