.cards {
    display: flex;
    justify-content: center;
   
    margin: 0;
}

@media screen and (max-width: 1480px) {
    .cards {
        flex-wrap: wrap;
    }
}

.container{
    max-width: 1820px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    
}