.header {
    padding: 0px 20px;
    background: rgba(255, 255, 255, 0.1);
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.3s;
}

.header_active {
    padding: 15px 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.819);
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all ease 0.3s;
    z-index: 9990;
    
}

@media screen and (max-width: 1200px) {
    .header {
        height: 67px;
    }
}

@media screen and (max-width: 770px) {
    .header {
        padding: 0px 0px;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.login {
    margin: 0;
    display: flex;
    align-items: center; 
    gap: 25px;
}

.login__item {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 104.5%;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.userName{
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 104.5%;
    text-transform: capitalize;
}

.pokupki {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 104.5%;
    text-transform: capitalize;
    transition: .3s;
}

.pokupki:hover {
    color: #0a8b6a;
}

.login__item:hover {
    color: #0a8b6a;
    
}

@media screen and (max-width: 1400px) {
    .login__item {
        font-size: 20px;
    }

    .image {
        max-width: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
}
