.modal {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    padding: 110px 86px;
    background: #d9d9d9;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: 1s;
    animation: modal 1s ease-in-out;

    &_close {
        position: absolute;
        top: 30px;
        right: 60px;
        font-size: 30px;
        cursor: pointer;
    }

    &_title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 80px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &_input {
            filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
            padding: 15px 46px;
            border: none;
            border-radius: 45px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            color: #595959;
            outline: none;
        }
    }

    &_footer {
        display: flex;
        flex-direction: column;
        gap: 50px;

        &_info {
            display: flex;
            gap: 43px;

            &_text {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 48px;
                color: black;
                background-color: inherit;
            }

            &_item {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 48px;
                color: #004e3a;
                background-color: inherit;
                border: none;
                cursor: pointer;
            }

            &_item:hover {
                text-decoration: underline;
            }
        }

        &_button {
            background: #004e3a;
            border-radius: 50px;
            padding: 24px 60px;
            border: none;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.registration {
    display: flex;
    gap: 35px;
}

.modal_wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(107, 114, 128, 0.5);
    z-index: 9;
    width: 100%;
    min-height: 100vh;
}


@keyframes modal {
    0% {
        transform:scaleY(.005) scaleX(0);
      }
      50% {
        transform:scaleY(.005) scaleX(1);
      }
      100% {
        transform:scaleY(1) scaleX(1);
      }
}