.basket_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 100px 0;

    &_title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #bababa;
    }

    &_link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: #18563d;
        text-decoration: none;
    }
}

.card {
    box-sizing: border-box;
    margin: 50px 0;
}

.total_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 50px 100px;
    box-sizing: border-box;

    & .total {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;

        &_final {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 17px;
            color: #0a8b6a;
        }
    }
}